<!DOCTYPE html>
<html lang="en" ng-app='SampleApp'>
    <head>
        <meta charset="utf-8">

        <!-- jQuery, from CDN. -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

        <!-- Boostrap, from CDN. -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Angular, from CDN. -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>

        <!-- angular-modal-service -->
        <script src="/node_modules/angular-modal-service/dst/angular-modal-service.min.js"></script>

        <!-- The demo service -->
        <script src="/dist/angular-bootstrap-alert-modals.min.js"></script>

        <!-- Sample app -->
        <script src="sample.js"></script>

        <title>Alert demo</title>
    </head>
    <body ng-controller='sampleController'>

        <div class="jumbotron text-center container">
            <h1 class='lead'>Generate an alert!</h1>
            <hr/>
            <p>
                <form class='col-sm-8 col-sm-offset-2'>
                    <div class="form-group">
                        <label>Alert title:</label>
                        <input type="text" class="form-control" ng-model='alertData.title'>
                    </div>
                    <div class="form-group">
                        <label>Alert text:</label>
                        <input type="text" class="form-control" ng-model='alertData.text'>
                    </div>
                    <div class="form-group">
                        <label>Alert type:</label>
                        <select class="form-control" ng-model='alertData.type'>
                            <option value='success'>Success</option>
                            <option value='info'>Info</option>
                            <option value='warning'>Warning</option>
                            <option value='danger'>Danger</option>
                        </select>
                    </div>
                    <hr/>
                    {{alertData}}
                    <button class='btn btn-default btn-lg' ng-click='generateAlert()'>Generate</button>
                </form>

            </p>
        </div>
    </body>
</html>
